* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(79, 128, 0);
    padding: 35px;
}

header nav.menu li {
    display: inline-block;
    padding: 0 40px ;
    font-size: 20px;
}

body {
    background-color: #feffb4;
}

body #inicio{
    padding: 20px 4%;
    text-align: justify;
}

.tituloPrincipal {
    display: flex;
    font-size: 50px;
    justify-content: center;
    margin: 50px;
}

#inicio p {
    margin: 10px;
    margin-bottom: 30px;
    text-align: center;
}

#inicio h2 {
    margin: 10px;
}

#inicio ul li {
    margin: 30px 0 30px 80px;
}

#calculadora h2 {
    margin: 50px;
}

#calculadora label {
    margin-left: 50px;
}

.menu-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .menu-button span {
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px;
    background: #333;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-button.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  
  .menu-button.active span:nth-child(2) {
    opacity: 0;
  }
  
  .menu-button.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /* Estilos para o menu quando aberto */
  .menu.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 500px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
  
  /* Estilos para os links do menu quando aberto */
  .menu.active ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .menu.active li {
    margin: 10px 0;
  }

  #calculadora {
    text-align: center;
    margin: 20px;
  }
  
  /* Media query para telas menores */
  @media (max-width: 768px) {
    
    header nav.menu li {
        display: flex;
        flex-direction: column;
    }
    
    .menu-button {
      display: block;
    }
  
    .menu {
      display: none;
    }
  }